<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title:'Proyecto Integrador - Todos los productos'}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="responsive-fix">
                <main class="product">
                    <div class="product-bar">
                        <h1>Todos los productos</h1>
                        <form action="#" class="search-form">
                            <input type="search" placeholder="Busquemos algo..." class="search-bar__input">
                            <button type="submit" class="search-bar__btn"><span class="material-symbols-outlined">
                                    search
                                </span></button>
                        </form>
                    </div>
                    <section class="product-container">
                        <nav class="product-container__navbar">
                            <% categories.forEach(category => { %>
                                <p class="product-navbar__sections"><%= category.name %></p>
                                <hr class="menu__hr">
                                <ul class="product-navbar">
                                    <% category.subCategories.forEach(subCategory => { %>
                                        <li class="product-navbar__item">
                                            <a href="/products/filtrarCat<%= subCategory.id %>" class="product-navbar__link"><%= subCategory.name %> </a>
                                        </li>
                                    <% }) %>

                                </ul>
                            <% }) %>
                        
                        </nav>
                        <article class="product-show">

                           <% products.forEach(product => { %>
                            <div class="product-card">
                                <a href="/products/detail/<%= product.id %> ">
                                    <div class="product-card__header">
                                        <img src="/img/uploads/products/<%= product.productImg%>" alt="Foto de <%= product.name %> " class="product-card__header-img">
                                    </div>
                                    <div class="product-card__body">
                                        <h2 class="product-card__body-name"><%= product.name %> 
                                        </h2>
                                        <p class="product-card__body-price">$<%= product.price %> </p>
                                        <% if (product.discount) { %>
                                            <div class="product-card__body-discount">
                                                <span class="discount-price__before"><%= product.oldPrice %></span>
                                                <span class="discount-price__discount-value">%<%= product.discountValue %> OFF</span>
                                            </div>
                                        <% } %>
                                        <p class="product-card__category"><%= product.Category.name %> > <%= product.sbCategory.name %>  </p>
                                    </div>
                                    <div class="product-card__footer"></div>
                                </a>
                            </div>
                           <% }) %>
                        </article>
                    </section>
                </main>
            </div>
            <%- include('../partials/scripts.ejs') %>
    </body>

</html>