<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Proyecto Integrador - Admin </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="container admin-zone">
                <div class="admin-zone__title">
                    <h1>Dashboard de administrador</h1>
                    <p>Desde aqui podras realizar todas las opciones de gestión, como gestionar usuarios y productos.</p>
                </div>

                <div class="admin-zone__sidenav">
                    <div class="admin-sidenav__header">
                        <img src="/img/assets/logo/logo_zen_hogar-black.svg" alt="Site logo">
                        <!-- Probablemente poner barra de busquedas y helpers -->
                    </div>
                    <div class="admin-sidenav__body">
                        <ul>
                            <li><a href="#"><i class='bx bx-package'></i> Productos</a>
                                <div class="admin-product__menu admin-all-menu">
                                    <ul class="admin-dropdown__menu admin-menus">
                                        <li><a href="/admin/products/create">Crear producto</a></li>
                                        <li><a href="/admin/products/list">Listar productos</a></li>
                                    </ul>
                                </div></li>
                            <li><a href="#"><i class='bx bx-user-circle' ></i> Usuarios</a>
                                <div class="admin-product__menu admin-all-menu">
                                    <ul class="admin-dropdown__menu admin-menus">
                                        <li><a href="/admin/users/list?page=0">Listar usuarios</a></li>
                                    </ul>
                                </div></li>
                            <li><a href="#"><i class='bx bx-category' ></i> Categorias & Sub-categorias</a>
                                <div class="admin-product__menu admin-all-menu">
                                    <ul class="admin-dropdown__menu admin-menus">
                                        <li><a href="#">Listar categorias</a></li>
                                        <li><a href="#">Listar sub-categorias</a></li>
                                        <li><a href="#">Agregar categorias</a></li>
                                        <li><a href="#">Agregar sub-categorias</a></li>
                                    </ul>
                                </div></li></li>
                            <li><a href="#"><i class='bx bx-store' ></i> Ventas</a></li>
                            <li><a href="#"><i class='bx bx-envelope' ></i> Mensajeria Interna</a></li>
                        </ul>
                    </div>
                </div>
                <div class="admin-product-list">
                    <div class="products-pages  admin-products-pages">
                        <% if (parseInt(page)===0) { %>
                            <div class="last-arrow arrow-disabled">
                                <a href="/admin/products/list?page=<%= parseInt(page) - 1 %>" class="pag-btn arrow-btn">
                                    <i class='bx bx-chevron-left'></i>
                                </a>
                            </div>
                            <a href="/admin/products/list?page=<%= parseInt(page)%>" class="pag-btn">
                                <%= parseInt(page)+1 %>
                            </a>
                            <% if (page> locals.lastPage - 1) { %>
                                <div class="next-arrow arrow-disabled">
                                    <a href="/admin/products/list?page=<%= parseInt(page) + 1 %>" class="pag-btn arrow-btn">
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </div>
                                <% } else { %>
                                    <div class="next-arrow">
                                        <a href="/admin/products/list?page=<%= parseInt(page) + 1 %>" class="pag-btn arrow-btn">
                                            <i class='bx bx-chevron-right'></i>
                                        </a>
                                    </div>
                                <%}%>
                        <% } else if (parseInt(page)> 0) {%>
                            <div class="last-arrow">
                                <a href="/admin/products/list?page=<%= parseInt(page) - 1 %>" class="pag-btn arrow-btn">
                                    <i class='bx bx-chevron-left'></i>
                                </a>
                            </div>
                            <a href="/admin/products/list?page=<%= page %>" class="pag-btn">
                                <%= parseInt(page)+1 %>
                            </a>
                            <% if (page> locals.lastPage - 1) { %>
                                <div class="next-arrow arrow-disabled arrow-btn">
                                    <a href="/admin/products/list?page=<%= parseInt(page) + 1 %>" class="pag-btn arrow-btn">
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </div>
                            <% } else { %>
                                <div class="next-arrow">
                                    <a href="/admin/products/list?page=<%= parseInt(page) + 1 %>" class="pag-btn arrow-btn">
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </div>
                                <%}%>
                        <%}%>
                    </div>
                </div>


                <div class="show-admin-products">
                    <% data.forEach(product => { %>
                        <div class="product-sm">
                            <div class="product-sm__img">
                                <a href="/products/detail/<%= product.id %>">
                                    <img src="/img/uploads/products/<%= product.productImg %>" alt="<%= product.name %> ">
                                </a>
                            </div>
                            <div class="product-sm__body">
                                <a href="/products/detail/<%= product.id %>">
                                    <h2><%= product.name %> </h2>
                                </a>
                                <span>ID: #<%= product.id %> </span>
                            </div>
                            <div class="product-sm__links">
                                <a href="/admin/products/edit/<%= product.id %> "><i class='bx bx-edit edit-a-product' ></i></a>
                                <form action="/admin/products/delete/<%= product.id %>?_method=delete" method="POST">
                                    <button class="delete-product-btn"><i class='bx bx-trash delete-a-product' ></i></button>
                                </form>
                            </div>
                        </div>
                    <% }) %>
                </div>








                <div class="admin-product-list bottom">
                    <div class="products-pages  admin-products-pages">
                        <% if (parseInt(page)===0) { %>
                            <div class="last-arrow arrow-disabled">
                                <a href="/admin/products/list?page=<%= parseInt(page) - 1 %>" class="pag-btn arrow-btn">
                                    <i class='bx bx-chevron-left'></i>
                                </a>
                            </div>
                            <a href="/admin/products/list?page=<%= parseInt(page)%>" class="pag-btn">
                                <%= parseInt(page)+1 %>
                            </a>
                            <% if (page> locals.lastPage - 1) { %>
                                <div class="next-arrow arrow-disabled">
                                    <a href="/admin/products/list?page=<%= parseInt(page) + 1 %>" class="pag-btn arrow-btn">
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </div>
                                <% } else { %>
                                    <div class="next-arrow">
                                        <a href="/admin/products/list?page=<%= parseInt(page) + 1 %>" class="pag-btn arrow-btn">
                                            <i class='bx bx-chevron-right'></i>
                                        </a>
                                    </div>
                                <%}%>
                        <% } else if (parseInt(page)> 0) {%>
                            <div class="last-arrow">
                                <a href="/admin/products/list?page=<%= parseInt(page) - 1 %>" class="pag-btn arrow-btn">
                                    <i class='bx bx-chevron-left'></i>
                                </a>
                            </div>
                            <a href="/admin/products/list?page=<%= page %>" class="pag-btn">
                                <%= parseInt(page)+1 %>
                            </a>
                            <% if (page> locals.lastPage - 1) { %>
                                <div class="next-arrow arrow-disabled arrow-btn">
                                    <a href="/admin/products/list?page=<%= parseInt(page) + 1 %>" class="pag-btn arrow-btn">
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </div>
                            <% } else { %>
                                <div class="next-arrow">
                                    <a href="/admin/products/list?page=<%= parseInt(page) + 1 %>" class="pag-btn arrow-btn">
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </div>
                                <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/header.js"></script>
</body>

</html>