<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title:'Zen Hogar | Welcome'}) %>

    <body>
        <%- include('../partials/header.ejs') %>
        <main class="user-panel form-section">
            <!-- Contenedor del formulario (Registers,logins,create-product,etc) -->
            <section class="form-container">
                <div class="form-container__header">
                    <h1 class="form-title">Panel de usuario</h1>
                    <div class="form-logo">
                        <a href="#">
                            <img src="/img/assets/logo/logo_zen_hogar-black.svg" alt="site logo" class="form-logo__img">
                        </a>
                    </div>
                </div>
                <!-- Formulario -->
                <form action="/users/update/<%= locals.userLogged.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
    
                    <div class="user-profile-left">
    
                        <!-- Input de Img. Perfil -->
                        <div class="form-layer">
                            <div class="form-avatar">
                                <img src="/img/uploads/users/<%= locals.userLogged.profileImg %> " alt="User profile img">
                                <label for="imgInput" class="layer-label upload-pic__btn"><i
                                        class="material-symbols-outlined">add_a_photo</i></label>
                            </div>
                            <div class="layer-input__container">
                                <input type="file" class="layer-input__file" id="imgInput" name="profileImg">
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <div class="user-panel-menu">
                            <hr class="menu__hr">
                            <ul class="menu__container">
                                <p>Mi cuenta</p>
                                <li class="menu__item"><button class="btn close">Editar mi información</button></li>
                                <li class="menu__item"><button class="btn close">Cambiar contraseña</button></li>
                                <li class="menu__item"><a href="#" class="btn close">Ver mis compras</a></li>
                                <li class="menu__item"><a href="#" class="btn close">Favoritos</a></li>
                                <li class="menu__item"><a href="#" class="btn close">Medios de pago</a></li>
                            </ul>
                            <hr class="menu__hr">
                            <ul class="menu__container">
                                <li class="menu__item"><a href="/users/logout" class="btn close--red">Cerrar sesión</a></li>
                            </ul>
                            <hr class="menu__hr">
                        </div>
    
                    </div>
    
                    <div class="user-profile-right">
                        <!-- Inputs del formulario -->
                        <h2 class="user-profile__my-info">Mi información</h2>
                        <div class="form-layer form-layer--half">
                            <label for="name" class="layer-label">Nombre</label>
                            <div class="layer-input__container">
                                <input type="text" class="layer-input" name="name" id="nameInput" value="<%= locals.userLogged.name%>">
                                <i class="material-symbols-outlined layer-input__icon">person</i>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <!-- Inputs del formulario -->
                        <div class="form-layer form-layer--half">
                            <label for="lastname" class="layer-label">Apellido</label>
                            <div class="layer-input__container">
                                <input type="text" class="layer-input" name="lastname" id="lastnameInput" value="<%= locals.userLogged.lastname%>">
                                <i class="material-symbols-outlined layer-input__icon">person</i>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <!-- Inputs del formulario -->
                        <div class="form-layer">
                            <label for="email" class="layer-label">Email</label>
                            <div class="layer-input__container">
                                <input type="email" class="layer-input" name="email" id="emailInput" value="<%= locals.userLogged.email%>">
                                <i class="material-symbols-outlined layer-input__icon">email</i>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <div class="form-layer">
                            <label for="phone" class="layer-label">Celular</label>
                            <div class="layer-input__container">
                                    <input type="text" class="layer-input" name="phone" id="phoneInput"/>
                                <i class="material-symbols-outlined layer-input__icon">phone</i>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <div class="form-layer form-layer--half">
                            <label for="email" class="layer-label">Pais</label>
                            <div class="layer-input__container">
                                <select name="" id="" class="layer-input__select">
                                    <option value="" selected disabled>Selecciona una categoria</option>
                                </select>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <div class="form-layer form-layer--half">
                            <label for="email" class="layer-label">Provincia</label>
                            <div class="layer-input__container">
                                <select name="" id="" class="layer-input__select">
                                    <option value="" selected disabled>Selecciona una categoria</option>
                                </select>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <div class="form-layer ">
                            <label for="email" class="layer-label">Localidad</label>
                            <div class="layer-input__container">
                                <select name="" id="" class="layer-input__select">
                                    <option value="" selected disabled>Selecciona una categoria</option>
                                </select>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <div class="form-layer">
                            <label for="phone" class="layer-label">Código Postal</label>
                            <div class="layer-input__container">
                                <input type="text" class="layer-input" name="">
                                <i class="material-symbols-outlined layer-input__icon">pin</i>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
    
                        <div class="form-layer">
                            <label for="phone" class="layer-label">Dirección</label>
                            <div class="layer-input__container">
                                <input type="text" class="layer-input" name="">
                                <i class="material-symbols-outlined layer-input__icon">pin</i>
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>
                                        <!-- Enviar Formulario -->
                    <div class="form-submit">
                        <button type="submit" class="btn close">Guardar</button>
                    </div>
                    </div>
                </form>
            </section>
        </main>
            <%- include('../partials/scripts.ejs') %>
            <script src="/js/profile.js"></script>
    </body>

</html>