<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title:'Zen Hogar | Welcome'}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main class="register form-section">
                <!-- Contenedor del formulario (Registers,logins,create-product,etc) -->
                <section class="form-container">
                    <div class="form-container__header">
                        <h1 class="form-title">Registrarse</h1>
                        <div class="form-logo">
                            <a href="/">
                                <img src="/img/assets/logo/logo_zen_hogar-black.svg" alt="site logo" class="form-logo__img">
                            </a>
                        </div>
                    </div>
                    <!-- Formulario -->
                    <form action="/users/register" enctype="multipart/form-data" method="POST" id="registerForm">

                        <!-- Input de Img. Perfil -->
                        <div class="form-layer">
                            <div class="form-avatar">
                                <img src="/img/assets/users/default.png" alt="" id="registerAvatar">
                                <label for="imgInput" class="layer-label upload-pic__btn"><i
                                        class="material-symbols-outlined">add_a_photo</i></label>
                            </div>
                            <div class="layer-input__container">
                                <input type="file" class="layer-input__file" id="imgInput" name="avatar">
                            </div>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>


                        <!-- Input Nombre -->
                        <% if (locals.oldData && locals.oldData.name) { %>
                            <div class="form-layer form-layer--half">
                                <label for="name" class="layer-label">Nombre</label>
                                <div class="layer-input__container">
                                    <input type="text" class="layer-input" name="name" id="nameInput" value="<%= locals.oldData.name %>">
                                    <i class="material-symbols-outlined layer-input__icon">person</i>
                                </div>
                                <div class="layer-error__container">
                                    <p class="layer-error"></p>
                                </div>
                            </div> 
                        <% } else if (locals.errors && locals.errors.name){ %>
                            <div class="form-layer form-layer--half">
                                <label for="name" class="layer-label active">Nombre</label>
                                <div class="layer-input__container">
                                    <input type="text" class="layer-input error" name="name" id="nameInput" value="<%= locals.oldData.name %>">
                                    <i class="material-symbols-outlined layer-input__icon active">person</i>
                                </div>
                                <div class="layer-error__container active">
                                    <p class="layer-error active"><%= locals.errors.name.msg %> </p>
                                </div>
                            </div> 
                        <% } else { %>
                            <div class="form-layer form-layer--half">
                                <label for="name" class="layer-label">Nombre</label>
                                <div class="layer-input__container">
                                    <input type="text" class="layer-input" name="name" id="nameInput">
                                    <i class="material-symbols-outlined layer-input__icon">person</i>
                                </div>
                                <div class="layer-error__container">
                                    <p class="layer-error"></p>
                                </div>
                            </div> 
                        <% } %>    
                        
                        <!-- Input Apellido -->
                        <% if (locals.oldData && locals.oldData.lastname) { %>
                            <div class="form-layer form-layer--half">
                                <label for="lastname" class="layer-label">Apellido</label>
                                <div class="layer-input__container">
                                    <input type="text" class="layer-input" name="lastname" id="lastnameInput" value="<%= locals.oldData.lastname %>">
                                    <i class="material-symbols-outlined layer-input__icon">person</i>
                                </div>
                                <div class="layer-error__container">
                                    <p class="layer-error"></p>
                                </div>
                            </div>
                        <% } else if (locals.errors && locals.errors.lastname){ %>
                            <div class="form-layer form-layer--half">
                                <label for="lastname" class="layer-label active">Apellido</label>
                                <div class="layer-input__container">
                                    <input type="text" class="layer-input error" name="lastname" id="lastnameInput" value="<%= locals.oldData.lastname %>">
                                    <i class="material-symbols-outlined layer-input__icon active">person</i>
                                </div>
                                <div class="layer-error__container active">
                                    <p class="layer-error active"> <%= locals.errors.lastname.msg %> </p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="form-layer form-layer--half">
                                <label for="lastname" class="layer-label">Apellido</label>
                                <div class="layer-input__container">
                                    <input type="text" class="layer-input" name="lastname" id="lastnameInput">
                                    <i class="material-symbols-outlined layer-input__icon">person</i>
                                </div>
                                <div class="layer-error__container">
                                    <p class="layer-error"></p>
                                </div>
                            </div>
                        <% } %> 

                        <!-- Input Email -->
                        <% if (locals.oldData && locals.oldData.email) { %>
                            <div class="form-layer">
                                <label for="email" class="layer-label">Email</label>
                                <div class="layer-input__container">
                                    <input type="email" class="layer-input" name="email" id="emailInput" value="<%= locals.oldData.email %>">
                                    <i class="material-symbols-outlined layer-input__icon">email</i>
                                </div>
                                <div class="layer-error__container">
                                    <p class="layer-error"></p>
                                </div>
                            </div>
                        <% } else if (locals.errors && locals.errors.email){ %>
                            <div class="form-layer">
                                <label for="email" class="layer-label active">Email</label>
                                <div class="layer-input__container">
                                    <input type="email" class="layer-input error" name="email" id="emailInput" value="<%= locals.oldData.email %>">
                                    <i class="material-symbols-outlined layer-input__icon active">email</i>
                                </div>
                                <div class="layer-error__container active">
                                    <p class="layer-error active"><%= locals.errors.email.msg %> </p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="form-layer">
                                <label for="email" class="layer-label">Email</label>
                                <div class="layer-input__container">
                                    <input type="email" class="layer-input" name="email" id="emailInput"/>
                                    <i class="material-symbols-outlined layer-input__icon">email</i>
                                </div>
                                <div class="layer-error__container">
                                    <p class="layer-error"></p>
                                </div>
                            </div>
                        <% } %>
                      
                        <!-- Input Password -->
                        <% if (locals.errors && locals.errors.password){ %>
                            <div class="form-layer">
                                <label for="password" class="layer-label active">Contrase単a</label>
                                <div class="layer-input__container">
                                    <input type="password" class="layer-input password error" name="password" id="passwordInput">
                                    <i class="material-symbols-outlined layer-input__icon active">key</i>
                                </div>
                                <div class="layer-error__container active">
                                    <p class="layer-error active"><%= locals.errors.password.msg %> </p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="form-layer">
                                <label for="password" class="layer-label">Contrase単a</label>
                                <div class="layer-input__container">
                                    <input type="password" class="layer-input password" name="password" id="passwordInput">
                                    <i class="material-symbols-outlined layer-input__icon">key</i>
                                </div>
                                <div class="layer-error__container">
                                    <p class="layer-error"></p>
                                </div>
                            </div>
                        <% } %>

                        <!-- Input repassword-->
                        <% if (locals.errors && locals.errors.repassword){ %>
                            <div class="form-layer">
                                <label for="repassword" class="layer-label active">Repetir contrase単a</label>
                                <div class="layer-input__container">
                                    <input type="password" class="layer-input error" name="repassword" id="repasswordInput">
                                    <i class="material-symbols-outlined layer-input__icon active">key</i>
                                </div>
                                <div class="layer-error__container active">
                                    <p class="layer-error active"><%= locals.errors.repassword.msg %></p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="form-layer">
                                <label for="repassword" class="layer-label">Repetir contrase単a</label>
                                <div class="layer-input__container">
                                    <input type="password" class="layer-input" name="repassword" id="repasswordInput">
                                    <i class="material-symbols-outlined layer-input__icon">key</i>
                                </div>
                                <div class="layer-error__container">
                                    <p class="layer-error"></p>
                                </div>
                            </div>
                        <% } %>


                        <!-- Inputs del formulario --

                        <!-- Inputs del formulario -->
                        <div class="form-layer">
                            <label for="terms">
                                <input type="checkbox" class="layer-input__checkbox" name="terms" id="termsInput">
                                Acepto los <a href="#" class="layer-input__terms">Terminos y condiciones.</a>
                            </label>
                            <div class="layer-error__container">
                                <p class="layer-error"></p>
                            </div>
                        </div>

                        <!-- Enviar Formulario -->
                        <div class="form-submit">
                            <button type="submit" class="btn close">Registrarse</button>
                        </div>
                    </form>
                </section>
            </main>
            <%- include('../partials/scripts.ejs') %>
            <script src="/js/register.js"></script>
    </body>

</html>